# Dependencies
node_modules/

# Build output
dist/

# Env files
.env
.env.local

# Prisma
backend/prisma/migrations/dev.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS / editor
.DS_Store
.vscode/
.idea/

docker-compose.yaml
.claude/ 
CLAUDE.md